body{
	background-color: #F2F5ED;
	font-family: 'Lato', sans-serif;
 	overflow: -moz-scrollbars-vertical;
 	overflow-x: hidden;
 	overflow-y: scroll;

}
h1 {
	/*font-family: 'Lato', sans-serif;*/
	font-family: 'Russo One', sans-serif;
	/*font-weight: 800;*/
	padding-bottom: 0px;
	padding-top: 20px;
	margin: 0px;
}

code {
	color: #000099;
}

div{
	margin-bottom: 10px;
}
.btn{
	border-radius: 0px;
}

ul{
	padding-bottom: 50px;
}
label{
	margin-top: 10px;
}

#name{
	border-radius: 10px;
	background-color:#F2F5ED;
	border: solid 1px #AAA;
	text-align: center;
}
