body{
	background-color: #F2F5ED;
}

code {
	color: #000099;
}

div{
	margin-bottom: 10px;
}
.btn{
	border-radius: 0px;
}

ul{
	padding-bottom: 50px;
}
label{
	margin-top: 10px;
}

#name{
	border-radius: 10px;
	background-color:#F2F5ED;
	border: solid 1px #AAA;
	text-align: center;
}

